# ignore source files of the Typescript project
src/

# ignore configs
tsconfig.json

# ignore lockfiles
bun.lock
bun.lockb
package-lock.json
pnpm-lock.yaml
yarn.lock

# ignore repo configs
.github/
.gitea/

# ignore packed files
*.tgz
